.link-username {
  text-decoration: none;
  /* Chrome all / Safari all */
  -webkit-user-select: none;
  /* Firefox all */
  -moz-user-select: none;
  /* IE 10+ */
  -ms-user-select: none;
  /* Likely future */
  user-select: none;

  .username {
    font-family: 'Press Start 2P', cursive;
    text-decoration: none;
    color: white;

    &:hover {
      color: #02a9f7;
      text-decoration: none;
    }

    &:visited {
      text-decoration: none;
    }

    &:active {
      text-decoration: none;
    }
  }
}
