:host(.active),
html,
body {
  background-color: black;
  color: white;
}

body {
  height: 150%;
}

.click-here {
  position: absolute;
  text-align: center;
  z-index: 2;
  bottom: -25px;
  left: 0px;
  width: 100%;

  text-decoration: none;
  /* Chrome all / Safari all */
  -webkit-user-select: none;
  /* Firefox all */
  -moz-user-select: none;
  /* IE 10+ */
  -ms-user-select: none;
  /* Likely future */
  user-select: none;

  .click-text {
    display: block;
    margin-bottom: 50px;
    font-family: 'Press Start 2P', cursive;
    text-decoration: none;
    color: white;
  }
}

@keyframes psycoImage {
  0% {
    filter: hue-rotate(0deg);
  }

  25% {
    filter: hue-rotate(90deg);
  }

  50% {
    filter: hue-rotate(100deg);
  }

  75% {
    filter: hue-rotate(90deg);
  }

  100% {
    filter: hue-rotate(0deg);
  }
}

@-webkit-keyframes psycoImage {
  0% {
    filter: hue-rotate(0deg);
  }

  25% {
    filter: hue-rotate(90deg);
  }

  50% {
    filter: hue-rotate(100deg);
  }

  75% {
    filter: hue-rotate(90deg);
  }

  100% {
    filter: hue-rotate(0deg);
  }
}
